.landing-page {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(white, white, lightblue);
}

.landing-page h1 {
  color: #005580;
  font-family: Montserrat;
  font-weight: normal;
  text-align: center;
  margin: auto;
  font-size: 50px;
  margin-top: -50px;
}

.arrow{
  position: absolute;
  transform: translate(-50%,-50%);
  bottom: 30px;
  cursor: pointer;
  margin-left: 50%;
}
.arrow span{
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 3px solid #005580;
  border-right: 3px solid #005580;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}