body {
  margin: 0;
  width: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App > div {
  position: static;
}

.Overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  top: 0;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  cursor: pointer;
}

.Modal {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  max-width: 600px;
  max-height: 500px;
  padding: 20px;
  cursor: default;
  margin-top: 20px;
  border-radius: 1em;
  outline: 0 none;
  font-family: 'Montserrat';
  text-align: center;
}

.Modal ul li {
  padding: 5px
}

.mediumText {
  margin-top: 75px;  
}

.shortText {
  margin-top: 100px;
}

.presentationText {
  margin-top: 50px;
}

@media screen and (max-width: 500px) {
  .presentationText {
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .presentationText {
    font-size: 14px;
  }
}

@media screen and (max-width: 370px) {
  .presentationText {
    font-size: 12.5px;
  }
}

@media screen and (max-width: 590px) {
  .longText {
    font-size: 13px;
  }
}

@media screen and (max-width: 435px) {
  .longText {
    font-size: 11px;
  }
}

@media screen and (max-width: 355px) {
  .longText {
    font-size: 10.5px;
  }
}

@media screen and (max-width: 480px) {
  .mediumText {
    margin-top: 10px;
  }
}

@media screen and (max-width: 400px) {
  .mediumText {
    font-size: 14px;
  }
}

@media screen and (max-width: 410px) {
  .shortText {
    margin-top: 60px;
  }
}

@media screen and (max-width: 410px) {
  .mainList.part {
    font-size: smaller;
  }
}


